<link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cantarell:400,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oregano:400,400italic' rel='stylesheet' type='text/css'>

<div class="container">
<div id="title">Layover Angels</div>
<div id="slogan">"new places, friendly faces!"</div>



<div class="row">
  <div class="col-md-6 col-md-offset-1">
<p>
<%= link_to 'LOG IN', new_session_path(), :class => "btn btn-primary btn-lg" %>
</p>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
<p>
<%= link_to 'SIGN UP', new_user_path(), :class => "btn btn-primary btn-lg" %>
</p>





<p>


</p>


</div>


