<div class="container">
<h2>LAYOVER ANGELS</h2>
<h4>new places, friendly faces!</h4>



<p>
<%= link_to 'LOG IN', new_session_path(), :class => "btn btn-primary btn-lg" %>
</p>

<p>
<%= link_to 'Register', new_user_path(), :class => "btn btn-primary btn-lg" %>
</p>





<p>


</p>


</div>


