<body>

  <link href='http://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oregano:400,400italic' rel='stylesheet' type='text/css'> 

<!-- <div class="container"> -->
 <div>
  <div class="title">Layover</div>
    <div class="title">Angels</div>
      <div id="slogan">"new places, friendly faces!"</div>

  </div> 





<div class="row-">
<div class="col-md-2 col-md-offset-5"> 
      <p>
        <%= link_to 'LOG IN', new_session_path(), :class => "btn btn-info btn-lg btn-block" %>
      </p>
      <p>
    <%= link_to 'SIGN UP', new_user_path(), :class => "btn btn-info btn-lg btn-block" %>
    </p>
   </div>
  </div>

</body>


