<h3>Find your Layover Angel</h3>


<h4>GENDER</h4>
<div>
<button type="button" class="btn btn-primary btn-lg">MALE</button>
<button type="button" class="btn btn-primary btn-lg">FEMALE</button>
</div>



<h4>AIRPORT</h4>
<div>
<button type="button" class="btn btn-danger">LAX</button>
<button type="button" class="btn btn-danger">ONT</button>
<button type="button" class="btn btn-danger">BUR</button>
<button type="button" class="btn btn-danger">LGB</button>
<button type="button" class="btn btn-danger">SNA</button>
<button type="button" class="btn btn-danger">SMA</button>
</div>
<h4>AGE RANGE</h4>
<div>
<button type="button" class="btn btn-warning">21-27</button>
<button type="button" class="btn btn-warning">28-33</button>
<button type="button" class="btn btn-warning">34-39</button>
<button type="button" class="btn btn-warning">40-50</button>
<button type="button" class="btn btn-warning">51-99</button>
</div>
<h4>ZODIAC</h4>
<div>
<button type="button" class="btn btn-success">ARIES</button>
<button type="button" class="btn btn-success">TAURUS</button>
<button type="button" class="btn btn-success">GEMINI</button>
<button type="button" class="btn btn-success">CANCER</button>
</div>
<div>
<button type="button" class="btn btn-primary">LEO</button>
<button type="button" class="btn btn-primary">VIRGO</button>
<button type="button" class="btn btn-primary">SCORPIO</button>
<button type="button" class="btn btn-primary">SAGITTARIUS</button>
</div>
<div>
<button type="button" class="btn btn-danger">AQUARIUS</button>
<button type="button" class="btn btn-danger">CAPRICORN</button>
<button type="button" class="btn btn-danger">PISCES</button>
<button type="button" class="btn btn-danger">COSMIC</button>
</div>

<h4>LANGUAGES</h4>
<div>
<button type="button" class="btn btn-success btn-lg">ENGLISH</button>
<button type="button" class="btn btn-success btn-lg">SPANISH</button>
</div>
<div>
<button type="button" class="btn btn-info btn-lg">GERMAN</button>
<button type="button" class="btn btn-info btn-lg">FRENCH</button>
</div>
<div>
<button type="button" class="btn btn-warning btn-lg">MANDARIN</button>
<button type="button" class="btn btn-warning btn-lg">ARABIC</button>
</div>




