<body class="news">
  <header>
    <div class="nav">
      <ul>




        <li class="home"><a href="/">Home</a></li>
        <li class="about"><a href="#">About</a></li>
        <li class="news"><a href="#">Coming Soon</a></li>
        <li class="contact"><a href="#">Contact</a></li>
      </ul>
    </div>
  </header>
</body>
      

<!-- make button with link to method :destroy -->

    </div>
  </header>
