// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  /*background-image: black center center no-repeat;*/

/*body{*/
/*background-color:black;*/
body{

background:url("https://i.imgur.com/Bn3Xd5O.jpg") no-repeat;
background-size:cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}

div.title{ 
font-family: 'Sonsie One', 'Trebuchet MS', 'Tahoma';
color: white;
text-align: center;
font-style: italic;
font-size: 4em;
opacity: 0.8;
text-shadow: 3px 2px 3px black;
-webkit-animation: fadein 2.5s;
  /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 2.5s;
  /* Firefox < 16 */
-ms-animation: fadein 2.5s;
  /* Internet Explorer */

}

div#slogan{
font-family: 'Oregano', 'Tahoma';
color:white;
font-size: 1.95em;
font-style: italic;
text-align: right;
text-shadow: 2px 2px 1px black;
width:63%;
padding-top: 5%;
margin-bottom: 5%;

}


div.container {


}
